div {
    width: 100%;
}
body {
    display: grid;
    grid-template-areas:
    "nav content side";

  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 10px;

  height: 95vh;
}
button {
    margin: 0 auto;
    display: block;
}
.row {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}
.row:last-child {
    border-bottom: 1px solid rgb(184, 184, 184);
}
.gridSquare, .gridSquareHovered {
    display: flex;
    min-height: 4px;
    min-width: 4px;
    flex: 1 1 100%;
    flex-basis: fit-content;
    flex-basis: 100%;
}
.gridSquare {
    color: cadetblue;
    border-top: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
}
.gridSquareHovered {
    color: blueviolet;
    background-color: blueviolet;
    border-top: 1px solid blueviolet;
    border-left: 1px solid blueviolet;
}
.gridSquare:last-child { 
    border-right: 1px solid rgb(184, 184, 184);
  }
.gridSquareHovered:last-child {
    border-right: 1px solid blueviolet;
}
#container {
    display: flex;
    height: 590px;
    width: 590px;
    overflow: auto;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}
#left, #right {
    display: flex;
    align-items: center;
  }
