.row {
    max-width: 900px;
    color: blueviolet;
    border-color: black;
}
.gridSquare {
    display: inline-block;
    color: cadetblue;
    border: 1px solid chartreuse;
    height: 35px;
    width: 35px;
    margin: -2px -1px;
    
}
.gridSquareHovered {
    display: inline-block;
    color: blueviolet;
    background-color: brown;
    border: 1px solid chartreuse;
    height: 35px;
    width: 35px; 
    margin: -2px -1px;
}
#startBtn {
    margin: 20px;
}